<div class="homepage">

  <section class="hero">
    <h1>Welcome to Learning Portal</h1>
    <p>Learn Drupal</p>
  </section>

  <section class="content-area">
    {{ page.content }}
  </section>

</div>